* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px, 0px 20px, 0px;
    
}

header {
    background-color: #499c70;
    color: #fff;
    padding: 35px 0;
  }
  .intro {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
    margin: 20px;
  }
  .logo img {
    max-height: 50px;
    border-radius: 50%;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  button{
    max-width: 1000px;
  }
  nav ul li button {
    background-color: #61c378;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  nav ul li button:hover {
    background-color: #22bc8e;
  }

.info-section, .steps-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-section h2, .steps-section h2 {
    color: #2f8f2f;
    margin-bottom: 20px;
}

.info-section img, .steps-section img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
    font-weight: bold;
}

footer {
    background-color: #317f54;
    color: #ccc;
    padding: 40px 0;
    text-align: center;
    text-decoration: none;
  }
  
  .footer-info a {
   text-decoration: none;
   color: #def4c7
  }
  .social-media {
    margin-bottom: 20px;
  }
  
  footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #def4c7;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-media ul li a {
    color: #def4c7;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer p {
    margin-top: 20px;
    color: #def4c7;
  }

img{
  
}
